.app {
  text-align: left;
}

.app-header {
  background-color: #222;
  height: 40px;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 2.0em;
  margin-top: 0px;
}

.app-intro {
  font-size: medium;
}

.app-body {
  text-align: left;
  margin-left: 1em;
  height: 42em;
  font-family: Arial, Helvetica, sans-serif;
}

.app-dates {
  margin-top: 1em;
}

.app-prices {
  margin-top: 1em;
}

.app-history {
  margin-top: 1.5em;
}

.app-historygraph {
  padding-top: 0.1em;
}

.app-footer {
  text-align: center;
  font-size: 10px;
  font-style: italic;
  margin-top: 10.0em;
}

.priceTable {
  margin-left: 0.2em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
